<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section>
	<!-- ----------- -->
	
	
	<div class="banner d-flex justify-content-center align-item-center">
	<video  playsinline autoplay muted loop class="back-video">
	<source th:src="@{/images/video.mp4}" type="video/mp4">
	</video>
	<div class="container text my-auto">
	<h1 style="margin-left:85px;" >Your one-stop<br><Span class="bannertext1">home automation</Span><br> experience partner<br><button class="btn btn-outline-primary"   type="submit">Know More</button></h1>
	</div>
	
	<div class="banner-text " id="popup">
	<i class="fa-solid fa-xmark"onclick="closepop()"></i>
	<p>Get In Touch With <br />Our Smart Home<br> Experts Today</p>
	<button class="btntext">GET IN TOUCH</button>
	</div>
	
	</div>
	<!-- ----------- -->
	
	<main>
      <div class="shead">
        <h4 style="font-size: 32px;">Intelligent Building Systems & LMS</h4>
        <p>for Comfortable Living Spaces</p>
      </div>
        <section class="mainslider">
            <div class="boxx">
              <div class="imge">
                <img th:src="@{/images/slider1.jpg}" alt="">
              </div>
              <div class="text">
                <div class="texth">Home-Automation</div>
                <div class="ler">Learn more <div class="ang"><i class="fa-solid fa-angle-right"></i></div></div>

              </div>
            </div>
            <div class="boxx">
              <div class="imge">
                <img th:src="@{/images/slider1.jpg}" alt="">
              </div>
              <div class="text">
                <div class="texth">Home-Automation</div>
                <div class="ler">Learn more <div class="ang"><i class="fa-solid fa-angle-right"></i></div></div>

              </div>
            </div>
            <div class="boxx">
              <div class="imge">
                <img th:src="@{/images/slider1.jpg}" alt="">
              </div>
              <div class="text">
                <div class="texth">Home-Automation</div>
                <div class="ler">Learn more <div class="ang"><i class="fa-solid fa-angle-right"></i></div></div>

              </div>
            </div>
            <div class="boxx">
              <div class="imge">
                <img th:src="@{/images/slider1.jpg}" alt="">
              </div>
              <div class="text">
                <div class="texth">Home-Automation</div>
                <div class="ler">Learn more <div class="ang"><i class="fa-solid fa-angle-right"></i></div></div>

              </div>
            </div>
            <div class="boxx">
              <div class="imge">
                <img th:src="@{/images/slider1.jpg}" alt="">
              </div>
              <div class="text">
                <div class="texth">Home-Automation</div>
                <div class="ler">Learn more <div class="ang"><i class="fa-solid fa-angle-right"></i></div></div>

              </div>
            </div>
            <div class="boxx">
              <div class="imge">
                <img th:src="@{/images/slider1.jpg}" alt="">
              </div>
              <div class="text">
                <div class="texth">Home-Automation</div>
                <div class="ler">Learn more <div class="ang"><i class="fa-solid fa-angle-right"></i></div></div>

              </div>
            </div>
            
            </div>
            
        </section>
<div class="btnn">
    <span class="slideItem"><i class="fa-solid fa-angle-left"></i></span>
    <span class="slideItem"><i class="fa-solid fa-angle-right"></i></span>
</div>
        
    </main>
	<!-- ----------- -->
	<div class="offer">
	<p>we offer a comprehensive range of solutions to enhance</p> 
      <h3> your home automation experience.</h3>
      <button>Contact us today</button>
    </div>
    <!-- ----------- -->
    <div class="container  products">
    
    <div class=" d-flex flex-wrap product">
    
 <div class="pro1">
 <div class=" img1"><img th:src="@{images/Tanti automatics-30.png}" alt=""></div>
 <div class="imgtext text-center">
<h3>security system</h3>
 <button class="btnimg1">Discover More</button>
</div>
 </div>
 
 <div class="pro1">
 <div class=" img1"><img th:src="@{images/Tanti automatics-30.png}" alt=""></div>
 <div class="imgtext text-center">
<h3>security system</h3>
 <button class="btnimg1">Discover More</button>
</div>
 </div>
 
 <div class="pro1">
 <div class=" img1"><img th:src="@{images/Tanti automatics-30.png}" alt=""></div>
 <div class="imgtext text-center">
<h3>security system</h3>
 <button class="btnimg1">Discover More</button>
</div>
 </div>
  
  <div class="pro1">
 <div class=" img1"><img th:src="@{images/Tanti automatics-30.png}" alt=""></div>
 <div class="imgtext text-center ">
 <h3>security system</h3>
 <button class="btnimg1">Discover More</button>
 </div>
 </div>
  
 </div>
    </div>
	<!-- ----------- -->
	
	<div class="container-fluid banner4">
	<div class="row">
	<div class="col-md-6">
	<h3 class="quotext">Meet Our Skilled Team<br /> Of Smart Home Professionals</h3>
	<button class="btn1">Get a Quote</button>
	</div>
	<div class="col-md-6">
	 <img th:src="@{/images/Mask Group 4.png}" class="bannerimg" alt="">
	</div>
	</div>
	
	
	</section>
	
	
</body>
</html>